---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro'
import SocialPill from '../components/SocialPill.astro';
import Github from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro'
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
---

<Layout 
	title="Víctor Morales' Portfolio - Web Developer & Data Science Student"
	description="Contact me in order to create innovative solutions">
	<main class="px-4 ml-24 flex flex-col justify-center items-center">
		<SectionContainer class="py-44 pb-32">
		<img 
    	class="size-24 mb-3 mt-5 rounded-full " 
    	src="../zyro-image.webp" 
    	alt="vmxrls photo"
    	/>
		<h1 class="text-black text-2xl md:text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
			Hey, I'm Víctor Morales <a href="https://www.linkedin.com/in/v%C3%ADctor-morales-5a4403265/" 
			target="_blank"
			rel="noopener" 
			class="flex justify-center items-center">
				<Badge>Available for work</Badge>
		</a>
		</h1>
		<h2 class="text-xl lg:text-2xl opacity-85 text-wrap max-w-[700px]"> 

			<span class="text-orange-500/90 ">
				Web Developer 
				& Data Science Student.</span>
			<span class="opacity-75 text-black">Currently pursuing studies in data science while actively honing skills in web development. 
			Passionate about leveraging technology to create innovative solutions.</span>
			<span class="text-red-400/90"> From Barcelona, Spain.</span>
		</h2>
		<nav class="flex gap-5 mt-4 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/v%C3%ADctor-morales-5a4403265/">
				<Linkedin class="size-5 md:size-4 lg:size-4"/>
			</SocialPill>
			<SocialPill href="https://github.com/VictorMoralesQ">
				<Github class="size-5 md:size-4 lg:size-4"/>
			</SocialPill>
			<SocialPill href="mailto:victormorales1999@gmail.com">
				<Mail class="size-5 md:size-4 lg:size-4"/>
			</SocialPill>
		</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black justify-center">
				WORKING EXPERIENCE
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class=" text-black text-3xl font-semibold mb-6 flex gap-x-3 items-center justify-center">
				PROJECTS
			</h2>
			<Projects/>
		</SectionContainer>
		
		
		<SectionContainer id="about">
			<h2 class=" text-black text-3xl font-semibold mb-6 flex gap-x-3 items-center justify-center">
				ABOUT
			</h2>
			<About/>
		</SectionContainer>

		<SectionContainer id="skills">
			<h2 class=" text-black text-3xl font-semibold mb-6 flex gap-x-3 items-center justify-center">
				SKILLS
			</h2>
			<Skills/>
		</SectionContainer>
			
			
	</main>
</Layout>

