<section class="flex gap-x-8 mt-6 justify-center">
    <div class="[&>p]:mb-4 text-black text-pretty [&>p>strong]:text-orange-500/90 [&>p>strong]:font-semibold">
        <p>
            Hi! I'm a passionate web developer and data science student based in Barcelona, Spain. Currently, 
            I'm immersed in <strong>my data science studies while actively refining my skills in web development.</strong>
        </p>
        <p>
            My focus lies in <strong>leveraging technology to create innovative solutions that positively impact the world around us.</strong> 
            I love exploring new technologies and tackling creative challenges that allow me to grow both professionally and personally. 
        </p>
        <p>
            When I'm not in front of my computer, you can frequently find me at the gym, indulging in one of my greatest passions: sports. Additionally, 
            I'm always accompanied by my headphones, as I'm also a huge music enthusiast.
            I'm excited to share my work with you and see where this thrilling technological journey takes us together!
        </p>
    </div>
</section>