<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <span></span>

    <nav
    class={`
      w-full md:w-3/4 lg:w-1/2 xl:w-2/5 h-full
      border-2 border-gray-500 rounded-full md:px-6 px-3 py-1
      flex flex-wrap flex-row items-center justify-center
      bg-neutral-200/70 dark:bg-black/50 backdrop-blur-2xl
    `}
    >
        <a href="#top" class="hover:bg-white/10 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize">Home</a>
        <a href="#experience" class="hover:bg-white/10 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize">Experience</a>
        <a href="#projects" class="hover:bg-white/10 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize">Projects</a>
        <a href="#about" class="hover:bg-white/10 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize"> About</a>
        <a href="#contact" class="hover:bg-white/10 p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize">Contact</a>
    </nav>
</header>

<style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 400px;
    }
    @keyframes nav-shadown {
      to {
        @apply shadow-xl;
      }
    }
  </style>