<section class="block overflow-hidden relative w-full">
    <div class="flex flex-row justify-center items-center section-content gap-x-8">
            <img class="w-full h-10" src="/public/pyhon_logo.svg" alt="Logo pyhton"/>
            <img class="w-full h-10" src="/public/HTML5_logo_black.svg" alt="Logo HTML"/>
            <img class="w-full h-10" src="/public/logo_css.svg" alt="Logo css"/>
            <img class="w-full h-10" src="/public/power_bi_logo.svg" alt="Logo Power BI"/>
            <img class="w-full h-10" src="/public/logo_excel.svg" alt="Logo Excel"/>
            <img class="w-full h-10" src="/public/r.svg" alt="Logo R"/>
            <img class="w-full h-10" src="/public/logo_tableau.svg" alt="Logo Tableau"/>
            <img class="w-full h-10" src="/public/mysql_logo.svg" alt="Logo MySQL"/>
            <img class="w-full h-10" src="/public/logo-javascript.svg" alt="Logo JavaScript"/>
            <img class="w-full h-10" src="/public/github-logo.svg" alt="Logo GitHub"/>


            <img class="w-full h-10" src="/public/pyhon_logo.svg" alt="Logo pyhton"/>
            <img class="w-full h-10" src="/public/HTML5_logo_black.svg" alt="Logo HTML"/>
            <img class="w-full h-10" src="/public/logo_css.svg" alt="Logo css"/>
            <img class="w-full h-10" src="/public/power_bi_logo.svg" alt="Logo Power BI"/>
            <img class="w-full h-10" src="/public/logo_excel.svg" alt="Logo Excel"/>
            <img class="w-full h-10" src="/public/r.svg" alt="Logo R"/>
            <img class="w-full h-10" src="/public/logo_tableau.svg" alt="Logo Tableau"/>
            <img class="w-full h-10" src="/public/mysql_logo.svg" alt="Logo MySQL"/>
            <img class="w-full h-10" src="/public/logo-javascript.svg" alt="Logo JavaScript"/>
            <img class="w-full h-10" src="/public/github-logo.svg" alt="Logo GitHub"/>

    </div>
</section>

<style>
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .section-content{
        animation: slide 100s linear infinite;
    }
</style>